Repository numba/llvmlite, pull requests merged in 2021-02, with the labels that each got.

#677 Support building with CMake on posix systems
  conda-recipes/llvmlite/meta.yaml
  ffi/CMakeLists.txt
  ffi/build.py
Labels: 5 - Ready to merge, BuildFarm Passed, build

#696 Release Notes v0.36.0RC1
  CHANGE_LOG
Labels: 5 - Ready to merge

#699 adapt Python version clamp from Numba
  setup.py
Labels: 5 - Ready to merge

#701 Improve llvm not found error
  docs/source/admin-guide/install.rst
  ffi/build.py
Labels: 5 - Ready to merge, doc
